@import "base";

#manage-sidebar {
  width: 160px;
  margin-top: 10px;
  padding: 10px;
  float: left;
  line-height: 30px;

  ul.sidebar {
    list-style: none;
    text-align: center;
    padding: 0;
    border: 1px dotted rgba($btn-background-color, 0.5);

    li {
      padding: 10px;
      margin: 5px 0;

      a {
        width: 100%;
        height: 100%;
        display: block;
        @include ts();

        &:hover {
          text-decoration: none;
          background-color: #F3F3F3;
        }
      }
      &.active a {
        background: $btn-background-color;
        color: #fff;
        
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

#manage-content {
  margin-left: 160px;
  padding: 10px 20px;

  .manage-container {
    width: 100%;
    margin: 10px 0;
  }
  .manage-actions {
    margin: 10px;
    padding: 5px;

    form.search-form {
      display: inline;
    }

    form#form {
      padding: 10px;
      margin: 10px 0;

      label {
        line-height: 34px;
      }
    }
  }
}

.search-bar {
  border: solid 1px rgba(0, 0, 0, 0.1);
  margin: 10px 5px;
  @include br(12px);
  padding: 5px 10px;
  padding-right: 22px;
  width: 200px;
  outline: none;
  @include ts();

  &:focus {
    @include boxshadow(3px 3px 30px 2px rgba(0, 0, 0, 0.1));
    border: solid 1px rgba(10, 10, 10, 0.25);
    + i.fa-search {
      color: rgba(0, 0, 0, 0.5);
    }
  }
}

i.fa-search {
  position: relative;
  left: -30px;
  color: rgba(0,0,0,0.15);
  @include ts();
}

#flash-message {
  padding: 10px;
  border-radius: 8px;
  font-weight: 800;
}

.separator {
  display: block;
  &:after {
    content: '';
    width: 100%;
    border: 1px dashed rgba(0,0,0,0.15);
    display: block;
    position: relative;
    left: 0;
    top: 0;
  }
}

.manage-index  {
  text-align: center;

  div {
    margin: 15px 10px;
    border: 1px dashed rgba(0,0,0,0.25);
    h3 {
      font-size: 18px;
      font-weight: 800;
    }
  }
}